.screen-device {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
}

/* Sidebar */
.sidebar {
    width: 25%;
    background-color: #232624;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-header {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    gap: 10px;
    flex-direction: column;
    margin-left: 0px;
    padding: 5px 10px;
    border: none;
    background-color: #004fa3;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

.herramientas-user {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 0;
    background: none;
    border: none;
}

.herramientas-user input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 14px;
    background: #fafafa;
    outline: none;
    transition: border-color 0.2s;
}

.herramientas-user input[type="text"]:focus {
    border-color: #aaa;
}

.herramientas-user button {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 18px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border-color 0.2s, background 0.2s;
}

.herramientas-user button:hover {
    border-color: #aaa;
    background: #f0f0f0;
}


/* Chat principal */
.chat-device {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.header-chat {
    display: flex;
    align-items: center;
    padding: 14px;
    border-bottom: 1px solid #ddd;
    background-color: #fafafa;
    color: black;
}

.header-chat .avatar {
    width: 60px;
    height: 60px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

/* Historial de mensajes */
.historial {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    max-width: 60%;
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 14px;
}

.message.received {
    background-color: #f0f0f0;
    align-self: flex-start;
    color: rgb(42, 42, 42);
}

.message.sent {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
}

/* Input de mensaje */
.user-interface {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #fafafa;
}

.user-interface input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.user-interface button {
    margin-left: 8px;
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.title-chats {
    color: white;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.noChat{
    color: red;
    text-align: center;
    align-items: center;
}
